/* ============================================================ VARIABLES: COLOURS */
:root {
  /* Sections */
  --box-background: hsl(100, 100%, 100%);
  --body-background: hsl(144, 35%, 75%);
  /* Buttons */
  --button-focus-box-shadow: hsla(120, 61%, 50%, 0.4);
  --button-background: hsl(0, 0%, 49%);
  --button-border-color: hsl(144, 35%, 65%);
  --button-box-shadow: hsla(120, 61%, 50%, 0.4);
  /* Start button */
  --button-start-font-color: hsl(144, 35%, 50%);
  /* Exit button */
  --button-exit-color: hsl(144, 62%, 25%);
  --button-exit-border: hsl(144, 62%, 25%);
  /* Continue button */
  --button-continue-color: hsl(144, 35%, 30%);
  --button-continue-background: linear-gradient(135deg, hsl(144, 35%, 75%), hsl(144, 35%, 65%));
  --button-continue-box-shadow: hsla(0, 0%, 0%, 0.1);
  --button-continue-hover-color: hsl(100, 100%, 95%);
  --button-continue-hover-background: linear-gradient(135deg, hsl(144, 55%, 70%), hsl(144, 55%, 65%));
  --button-continue-hover-box-shadow: hsla(120, 61%, 50%, 0.4);
  --button-continue-hover-text-shadow: hsla(0, 0%, 0%, 0.2);
  --button-continue-hover-border-color: hsl(144, 55%, 65%);
  --button-continue-active-box-shadow: hsla(0, 0%, 0%, 0.1);
  /* Next button */
  --button-next-color: hsl(100, 100%, 100%);
  --button-next-background: hsl(144, 35%, 75%);
  --button-next-hover-color: hsl(100, 100%, 90%);
  --button-next-hover-background: hsl(144, 45%, 70%);
  /* Quiz answer buttons */
  --quiz-selection-background: hsl(138, 36%, 89%);
  --quiz-selection-border: hsl(144, 35%, 75%);
  --quiz-selection-hover-background: hsl(144, 35%, 75%);
  /* Quiz timer colours */
  --quiz-timer-background: hsl(137, 39%, 83%);
  --quiz-timer-count-background: hsl(0, 0%, 20%);
  --quiz-timer-count-color: hsl(100, 100%, 100%);
  /* Font Awesome Icons */
  --tick-color: hsl(144, 62%, 25%);
  --tick-background: hsl(138, 36%, 89%);
  --tick-border: hsl(144, 62%, 25%);
  --cross-color: hsl(0, 100%, 50%);
  --cross-background: hsl(0, 36%, 89%);
  --cross-border: hsl(0, 100%, 50%);
}

/* ============================================================ STYLE RESET */
*,
::before,
::after {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

/* ============================================================ FONTS */
@font-face {
  font-family: "Roboto Flex";
  src:
    url("/assets/fonts/roboto-flex.woff2") format("woff2"),
    local("sans-serif");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: normal;
  font-display: swap;
}

/* ============================================================ BODY */
body {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 16px;
  /* Default body text size */
  font-weight: 400;
  /* Regular weight */
  background-color: var(--body-background, hsl(144, 35%, 75%));
}

/* ============================================================ HEADINGS */
h1 {
  font-size: 2.5em;
  /* 40px if base is 16px */
  font-weight: 700;
}

h2 {
  font-size: 2em;
  /* 32px is base is 16px*/
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  /* 28px is base is 16px*/
  font-weight: 500;
}

.subheading {
  font-size: 1.5em;
  /* 24px is base is 16px */
  font-weight: 500;
}

/* ============================================================ <MAIN> */
main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

/* ============================================================ MODALS */
.start,
.rules,
.quiz,
.the-end {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 90%;
  width: 90%;
  background-color: var(--box-background, hsl(100, 100%, 100%));
  border-radius: 5px;
  /* padding: 1rem 2rem; */
  box-shadow: 0px 3px 9px 0 hsla(0, 0%, 0%, 0.2), 0px 5px 15px 0 hsla(0, 0%, 0%, 0.12);
}

/* Start Modal */
.start {
  width: 600px;
  padding: 3rem;
}

.start__header {
  text-align: center;
  padding-bottom: 2rem;
}

/* Rules Modal */
.rules {
  width: 600px;
}

.rules__header {
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding: 1rem 1rem;
}

.rules__list {
  padding: 1rem 1rem;
  width: 100%;
}

.rules__item {
  padding: 0.5rem 0;
}

.rules__footer {
  width: 100%;
  padding: 1rem 1rem;
  border-top: 1px solid lightgrey;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* Quiz Modal */
.quiz {
  width: 600px;
}

.quiz__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 0 0;
  gap: 0.5rem;
}

.quiz__score-correct,
.quiz__score-incorrect,
.quiz__timer-text {
  background-color: var(--quiz-timer-background);
  border-radius: 5px;
  padding: 0.5rem;
}

.quiz__score-correct>span,
.quiz__score-incorrect>span,
.quiz__timer-count {
  background-color: var(--quiz-timer-count-background);
  color: var(--quiz-timer-count-color);
  border-radius: 5px;
  padding: 0.3rem;
}

.quiz__question {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1rem 0;
}

.quiz__questions-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  padding: 1rem 1rem;
  gap: 1rem;
}

.quiz__selection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--quiz-selection-background);
  border: 1px solid var(--quiz-selection-border);
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem;
}

.quiz__selection:hover {
  background-color: var(--quiz-selection-hover-background);
}

.quiz__selection span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.fa-solid.fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tick-color);
  background: var(--tick-background);
  border: 1px solid var(--tick-border);
  border-radius: 10px;
  text-align: center;
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
}

.fa-solid.fa-times {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cross-color);
  background: var(--cross-background);
  border: 1px solid var(--cross-border);
  border-radius: 10px;
  text-align: center;
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
}

.quiz__footer {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.quiz__progress {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

/* The-End Modal */
.the-end {
  width: 600px;
}

.the-end__header {
  text-align: center;
  padding: 1rem;
}

.the-end__container {
  text-align: center;
  padding: 1rem;
}

.the-end__final-score {
  margin-bottom: 1rem;
}

.the-end__footer {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  align-items: center;
  gap: 0.5rem;
}

/* ============================================================ MODAL MEDIA QUERIES */
@media (max-width: 575px) {
  .quiz__header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 1rem 0.5rem;
  }
}

@media (max-width: 379px) {
  .quiz__footer,
  .quiz__footer,
  .rules__footer {
    flex-direction: column;
    justify-content: center;
    gap: 1rem 0.5rem;
  }
}

/* ============================================================ BUTTONS */
.button {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem;
  letter-spacing: 0.7px;
  border: 1px solid var(--button-border-color);
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    /* Ambient shadow */
    0 1px 3px rgba(0, 0, 0, 0.2),
    /* Sharp shadow */
    inset 0 0 10px rgba(255, 255, 255, 0.3);
  /* Inner glow */
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--button-focus-box-shadow);
}

/* Start Modal: Start Button */
.button--start {
  color: var(--button-start-font-color);
  font-size: 1.5rem;
}

/* Rules Modal: Exit Button */
.button--exit {
  color: var(--button-exit-color);
}

/* Rules Modal: Continue Button */
.button--continue {
  color: var(--button-continue-color);
  background: var(--button-continue-background);
  transition:
    color 0.3s ease,
    background 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.2s ease,
    border-color 0.3s ease;
}

.button--continue:hover {
  color: var(--button-continue-hover-color);
  background: var(--button-continue-hover-background);
  box-shadow: 0 0 20px 3px var(--button-continue-hover-box-shadow);
  text-shadow: 1px 1px 2px var(--button-continue-hover-text-shadow);
  transform: scale(1.05) translateY(-2px);
  border-color: var(--button-continue-hover-border-color);
}

.button--continue:active {
  transform: scale(0.98) translateY(0);
  box-shadow: 0 1px 3px var(--button-continue-active-box-shadow);
}

/* Quiz Modal: Next Button */
.button--next {
  color: var(--button-next-color);
  background-color: var(--button-next-background);

}

.button--next:hover {
  color: var(--button-next-hover-color);
  background-color: var(--button-next-hover-background);

}

/* The-End Modal:  */

/* ============================================================ UTILITY CLASSES */
.u-active {
  display: flex;
}

.u-inactive {
  display: none;
}
